@import "./partials/_colors.scss";

body {
	background-color: $blue;
}

.wrap{
	width: inherit;
	height: inherit;
}

.container {
	position: absolute;
  left: 50%;
  top: 50%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-family: monospace;
}
