doctype html
header
	link(rel="stylesheet", href="styles/main.css")
body
	.desc
		h1 World simulation
		ul
			li * - plants
			li O - graminivorous
			li @ - predators
	.wrap
		pre.container
script(src="js/main.js")
